* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans";
    background-color: #F2F7F8;
}

header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .navMain{
        display: flex;        
        justify-content: space-between; 
        align-items: center;
        gap: 50px;
        padding: 10px;
        /* margin: 0 auto; */
        max-width: 1300px;
        width: 100%;
        border-bottom: 1px solid lightgray;
        background-color: white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .navHeaders{
        display: flex;
        gap: 40px;
    }

    .navHeaders a{
        text-decoration: none;
        color: #3A4C5C;
        font-size: 16px;
        font-weight: 700;
    }

    .btn{
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .sideMenu{
        display: none;
    } 
}


.buttons{
    font-size: 18px;
    border: none;
    outline: none;
    padding: 14px;
    border-radius: 15px;
}

.dark{
    background-color: #122231;
    color: #F2F7F8;
}

.white{
    background-color: white;
    color: #122231;
}

.contain{
    max-width: 1300px;
    margin: 0 auto;
}

.heroMain{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    gap: 40px;
}

.heroTexts{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 100%;
    margin-top: 58px;
    gap: 15px;
    padding: 5px;
    justify-content: center;

    .svg-icon{
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 8px;
        background-color: #2295F2;
        color: #FFFFFF;
        width: 100%;
        max-width: 70%;
        border: none;
        outline: none;
        border-radius: 30px;
        min-width: 300px;
    }

    .svg-icon:hover{
        background-color: #060F21;
        color: #FFFFFF;
    }

    h2{
        font-size: 40px;
        color: #122231;
        
    }

    .buttonDiv{
        display: flex;
        gap: 10px;
        align-items: center;

        .buttons{
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: center;
            max-width: 50%;
            height: auto;
            background-color: #122231;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;

            img{
                width: 20px;
                height: auto;
            }
        }

        .buttons:hover{
            background-color: #000000;
            transition: all 350ms;
            cursor: pointer;
            color: #FFFFFF;
        }
    }
}

p{
    font-size: 18px;
    color: #4E5760;
    line-height: 1.5;
}

.heroImg{
    /* margin: 3rem 0; */

    img{
        width: 100%;
        width: 490px;
        height: auto;
        border: 3px solid white;
        border-radius: 25px;
    }
}

#miniHero {
    padding: 18px;
    border-radius: 10px;
    display: flex;
    gap: 22px;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;


    .padlock{
        img{
            height: auto;
            width: 100px;

        }
    }

    h4{
        font-size: 25px;
        color: #122231;
        margin-bottom: 20px;
    }

    .small-p{
        width: 100%;
        max-width: 750px;
        margin-bottom: 20px;
    }

    .arrow{
        display: flex;
        gap: 5px;
    }

    .arrow p{
        color: #060F21;
        font-weight: 600;
        font-size: 16px;
    }

}

.arrow{
    display: flex;
    gap: 10px;
} 

.heroSection-2{
    padding-bottom: 70px;
    max-width: 1350px;
    
    .hero-2-texts{
        text-align: center;

        h4{
            font-size: 48px;
            font-weight: 700;
            color: #060F21;
        }
        
        p{
            font-size: 24px;
            margin: 10px 0 30px 0;
        }
    }
      
    .flex-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        padding: 20px 0;
        gap: 20px;

        
        
        .flex{
            max-width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 20px 0 20px;
            border-radius: 25px;
            background-color: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            

            h4{
                font-size: 36px;
                font-weight: 700;
            }

            p{
                font-size: 19px;
                color: #3A4C5C;

            }

            img{
                max-width: 240px;
                height: auto;
                
            }

            .arrow{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }

            .flex:hover{
                cursor: pointer;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                transition: all 350ms;
            }
        }

        .blue{
            h4{
                color: #073274;
            }

            .arrow p{
                color: #073274;
                font-weight: bold;
            }
        }

        .blue:hover{
            background: #073274;
            color: #FFFFFF;
        }

        
        .lightblue{
            h4{
                color: #0F60D6;
            }

            .arrow p{
                color: #0F60D6;
                font-weight: bold;
            }
        }

        .lightblue:hover{
            background: #2295F2;
            color: #FFFFFF;
        }

        .hotpink{
            h4{
                color: #FF69B4;
            }

            .arrow p{
                color: #FF69B4;
                font-weight: bold;
            }
        }

        .hotpink:hover{
            background: #FF69B4;
            color: #FFFFFF;
        }

        .blue-black{
            h4{
                color: #000000;
            }

            .arrow p{
                color: #000000;
                font-weight: bold;
            }
        }

        .blue-black:hover{
            background: #000000;
            color: #FFFFFF;
        }

        .orange{
            h4{
                color: #FF7C42;
            }
            .arrow p{
                color: #FF7C42;
                font-weight: bold;
            }
        }

        .orange:hover{
            background: #FF7C42;
            color: #FFFFFF;
        }

        .green{
            h4{
                color: #39C277;
            }
            .arrow p{
                color: #39C277;
                font-weight: bold;
            }
        }

        .green:hover{
            background: #39C277;
            color: #FFFFFF;
        }

        .flex:hover{
            cursor: pointer;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            transition: all 350ms;

            h4, p, .arrow p{
                color: #FFFFFF;
            }
        }
    }
}

#hero-3{
    width: 100%;
    padding: 120px 30px 0 30px;
    max-width: 1100px;
    margin:  0 auto;

    .hero-3-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h2{
            font-size: 51px;
            font-weight: 700;
            color: #122231;
            margin-bottom: 10px;
        }
     
        p{
            font-size: 30px;
            color: #3D4F60;
        }
        
        
    }

    .header{
            max-width: 1200px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 30px 20px 0 20px;
            border-radius: 25px;
            background-color: #7614E4;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        
        h3{
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #FFFFFF;
        }

        h4{
            font-size: 24px;
            font-weight: 400;
            color: #DC5AE5;
            width: 370px;
            line-height: 1.5;
        }

        .arr p{
            color: #FFFFFF;
            font-weight: 600;
            font-size: 18px;
        }
    }

    

    .hero-3-img {  
        display: flex;

        img {
          width: 100%;
          max-width: 400px;
          height: auto;
          display: block;
          margin: 0 auto;
        }
    }
      

    .arr{
        margin-top: 140px;
    }
}

#hero-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;

    .hero-4-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 100%;
        padding: 50px 10px 30px 10px;

        h2 {
            font-size: 30px;
            width: 100%;
            text-align: center;
            font-weight: 700;
            color: #122231;
        }

        p {
            font-size: 18px;
            text-align: center;
            color: #3D4F60;
            font-weight: 400;
            margin-top: 10px;
        }
    }

    .hero-4-video {
        margin: 100px 0 50px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    iframe {
        border: 15px solid #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
    }
}

.hero-5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    flex-wrap: nowrap;


    .hero-5-left { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 430px;
        padding: 20px;
    }

    

    .hero-5-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h3 {
            font-size: 35px;
            max-width: 70%;
        }

        .buttons {
            justify-content: flex-start;
            border: 0.2px solid #bcbdbe;
            background-color: #F2F7F8;

            img {
                max-width: 30px;
            }
        }
    }
} 


/* .hero-5-right{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        font-size: 33px;
        font-weight: 700;
        max-width: 500px;
        color: #122231;
    }

    .button-flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;  
        gap: 20px;
        margin-top: 30px;

        .buttons {
            background-color: white;
        }

        img {
            width: 20px;
            height: auto;
        }
    }
}  */

 /* .hero-6{
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;

    h1{
        text-align: center;
        font-size: 48px;
        color: #060F21;
        margin-top: 120px;
        margin-bottom: 10px;
    }

    .img-divs {
        display: flex;
        gap: 50px;
        align-items: center;
        padding-bottom: 100px;


        img {
            width: 150px;
            height: 80px; 
            object-fit: contain; 

        }
    }
}  */

/* 
 footer{
    max-width: 1200px;
    padding: 10px 20px 50px 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    margin: 0 auto;

    .footerSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footerStart{
        .footerLogo{
            img{
                width: 160px;
            }
        }

        .logo-2{
            img{
                width: 100px;
            }
        }
    }

    .footerMiddle{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 90px;

        h3{
            font-size: 14px;
            color: #3D4F60;
        }

        div a{
            text-decoration: none;
            font-size: 14px;
            color: #3A4C5C;
            line-height: 2.5;
        }
    }

    .footerEnd{

        .footerIcons{
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            padding: 10px;
        }

        .footerNotes{
            p{
                width: 400px;
                text-align: right;
                padding: 10px;
                font-size: 14px;
            }
        }
    }
} */

hr {
    margin: 30px;
    border: none;
    border-top: 1px solid #ccc;
} 



/* .footerSection-2{
    p{  
        font-size: 12px;
        line-height: 2;
        margin-bottom: 10px;
    }

    .class-1{
        width: 750px;
    }

    .class-2{
        width: 500px;
    }

    .class-3{
        color: #016DCD;
        font-size: 11px;
    }
}  */




@media (min-width: 1024px) and (max-width: 1440px) {
    
    .navMain{
        padding: 0 20px;
        width: 100%;
    }

    header .navHeaders {
        gap: 10px;
    }

    .navHeaders a {
        font-size: 18px;
        font-weight: 600;
    }
}

@media  (min-width: 300px) and (max-width: 1023px) {
    header {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        .navMain {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            width: 100%;
        }

        .navHeaders, .btn {
            display: none;
        }

        .sideMenu {
            display: flex;
            max-width: 50px;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                max-width: 100px;
                height: auto;
            }
        }
    }

   .heroMain {  
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 10px;
        align-items: center;
        margin: 0 auto;

        .heroTexts {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 80px auto 0; 
            align-items:center;
            

            h2, p{
                min-width: 150px;
                max-width: 500px;
                font-size: 38px;
                text-align: center;
                padding: 10px 0;
            }

            p{
                font-size: 20px;
                color: #3A4C5C;
                line-height: 1.5;
            }
        }
    } 

    #miniHero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;

        .padlock{
            padding: 30px 0;
        }

        h4{
            font-size: 30px;
            color: #122231;
            margin-bottom: 20px;
        }

        .small-p{
            font-size: 18px;
            color: #3A4C5C;
            line-height: 1.5;
        }
        
        p{
            font-weight: 500;
        }
        
        .arrow {
            justify-content: center;
        }
    }

    
}

@media (min-width: 300px) and (max-width: 990px) {
    .heroSection-2 {
        .hero-2-texts {
            h4{
                font-size: 28px;
                font-weight: 700;
                color: #060F21;
            }

            p{
                font-size: 18px;
            }
        }

        .flex-1 { 
            width: 100%;
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            overflow-x: hidden;
            
            .flex{
                width: 100%;
                min-width: 300px;
                background-color: blue;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px 20px 0 20px;
                border-radius: 25px;
                background-color: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                
    
                h4{
                    font-size: 20px;
                    font-weight: 700;
                }
    
                p{
                    font-size: 16px;
                    color: #3A4C5C;
                }

                img{
                    width: 100%;
                    height: auto;
                    
                }
    
                .arrow{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
            }
        } 
   
    }

    #hero-3 {
        width: 100%;
        padding-bottom: 20px ;

        .hero-3-header {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 35px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                min-width: 250px;
            }
        }

        .hero-3-content {
            margin: 0 auto; 
        }

        .header { 
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .text {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }

            .hero-3-img {
                
            overflow-x: hidden; 
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
            }

            h4 {
                font-size: 16px;
                width: 100%;
                color: #f2ccf5;
            }

            img{
                width: 100%;
                height: auto;
                
            }
        } 
    }    

   




    /* main .footerSection{
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;
        gap: 10px;

        .footerEnd{
            display: flex;
            flex-direction: column;

            justify-content: flex-end;

            p{
                text-align: left;
                max-width: 200px;
            }
            
            .footerIcons{
                justify-content: flex-start;
            }
        }
    }

    .footerSection-2{
        p{  
            font-size: 10px;
            line-height: 3;
            max-width: 590px;
            padding-left: 20px;
        }
    } */

    
}